<div class="container mx-auto">
  <div class="border-b border-gray-200">
    <nav class="-mb-px flex space-x-8" aria-label="Tabs">
      <a routerLink="/posts" routerLinkActive="border-indigo-500 text-indigo-600" [routerLinkActiveOptions]="{ exact: true }" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Posts</a>

      <a routerLink="/posts/create" routerLinkActive="border-indigo-500 text-indigo-600" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Create</a>
    </nav>
  </div>
  <router-outlet />
</div>

